# Created by https://www.toptal.com/developers/gitignore/api/python3
# Edit at https://www.toptal.com/developers/gitignore?templates=python3

#!! ERROR: python3 is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/python3
